@using SaaS.Domain.Tenant;
@model List<TenantSiteModel>

@*@inject UnitOfWork unitOfWork*@

@{
    ViewData["Title"] = "Home Page";
    var company = (TenantSiteModel)ViewBag.SelectedSite;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about</p>
</div>

@if (company != null)
{
    <h2>
        @company.Name <a href="@Url.Action("UnselectSite", new { company = company.Key })">Logout from site</a>
    </h2>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <img src="@company.Logo.ToString()" style="width: 150px"/>
}
else
{
    foreach(var st in Model)
    {
        <p>@st.Name <a href="@Url.Action("SelectSite", new { company = st.Key })">Select</a></p>
    }
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
}